<!--footer start-->
<footer id="footer" class="footer">
    <div class="container">
        <div class="hm-footer-copyright text-center">
            <div class="footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>
                &copy; Akogwu Emmanuel
                <a href="https://akogwuemmanuel.com">Website</a>
            </p>
            <!--/p-->
        </div>
        <!--/.text-center-->
    </div>
    <!--/.container-->

</footer>
<!--/.footer-->
<!--footer end-->
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/bootsnav.js"></script>
<script src="/javascripts/custom.js"></script>
</body>
</html>
